.projects-container{
    background-color: #fff;
    padding: .1em;
}
.slide-container{
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.slide-image{
    width: 350px;
    height: 100%;
}
.slide-container__context{
    top:10px;
    left:20px;
}