.about-section{
    padding: .1em;
    background-color: #fff;
}
.about-header__description{
    text-align: justify;
}

.card-container{
    background-color: #fff;
    height: 5.5rem;
}

.card-container__icon{
   min-width: 55px;
   padding: 15px;
}


.sample-container{
    width: 75%;
    height: auto;
    margin: 0 auto;
}

.react-icons{
    font-size: 2em;
}

@media (min-width: 768px){
    .sample-container{
        width: 100%;
        padding-right: 3em;
    }
}