.about-section{
    padding: .1em;
    background-color: #fff;
    position: relative;
}
.about-header__description{
    text-align: justify;
}

.card-container{
    background-color: #fff;
    max-width: 20rem;
    height: 5.5rem;
}

.card-container__icon{
   min-width: 60px;
   min-height: 60px;
   padding: 15px;
}


.sample-container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.react-icons{
    font-size: 2em;
}


.skills-container {
    background-color: #89baa1; /* Green background */
    width: 40%; /* Adjust width as needed */
    height: 100%; /* Make it full height */
    position: absolute; /* Place behind the cards */
    top: 0;
    left: 0;
    z-index: 0; /* Ensure it appears behind the cards */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Transition for smooth removal */
    opacity: 1;
    visibility: visible;
}



@media (max-width: 768px){
    .sample-container{
        width: 100%;
    }
 
   .skills-container{
    opacity: 0; /* Smoothly transition to invisible */
    visibility: hidden; /* Ensure element is not interactable */
   }
}

@media (max-width: 990px){
    .skills-container{
        width: 43%;
    }
}