.homepage{
    /* navbar height is 56px */
    height: calc(100vh - 56px);
    background-image: linear-gradient(#fff, #f8f7f1);
}

.homepage-banner-box img{
    max-width: 100%;
    max-height: 110%;
}

.homepage-banner-image{
    object-fit: contain;
}

@media (min-width: 1200px){
    .homepage-banner-image{
        object-fit: none;
    }

    .homepage-header {
        padding: 0 10em;
    }
}