*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(#fff, #dcd5d3);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: calc(2.7rem + 1.5vw);
    font-weight:500;
}

h2{
    font-size: calc(1.4rem + .9vw);
    font-weight: 700;
    letter-spacing: .05rem;

}


/************ NAVBAR SECTION **********/
.nav-link {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #333; 
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #ff6600; 
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #ff6600;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  
  .nav-link:hover::after {
    width: 100%;
    left: 0;
  }
/************ CONTACT SECTION **********/

.contact-section, .footer-section{
    background-color: #fff;
    padding: .1em;
}

.social-media-icon {
    font-size: 3em;
    color: #000000; 
    transition: color 0.3s;
  }
  
  .social-media-icon:hover {
    color: #ff6600; 
  }


/************ BOOTSTRAP TAGS **********/

.container{
    margin: 8em auto;
    padding: 0 2em;
    display: flex;
    max-width: 90%;
    
}

.hr{
    width: 200px;
    height: 1px;
    margin: 1.2em 0;
    background-color: #b4b4b4;
}


@media (min-width: 1200px){
    .container{
        padding: 0 3em;
    }
}

