*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(#fff, #dcd5d3);
    overflow-x: hidden;
}

h1{
    font-size: calc(2.7rem + 1.5vw);
    font-weight:500;
}

h2{
    font-size: calc(1.4rem + .9vw);
    font-weight: 700;
    letter-spacing: .05rem;
}
    /************ BOOTSTRAP TAGS **********/

.container{
    margin: 8em auto;
    padding: 0 2em;
    display: flex;
}

.hr{
    width: 200px;
    height: 1px;
    margin: 1.2em 0;
    background-color: #b4b4b4;
}


@media (min-width: 1200px){
    .container{
        padding: 0 6em;
    }
}

